<?xml version="1.0" encoding="utf-8"?>
<!--
  Vzorový web.config pro nasazení na Forpsi Windows webhosting (IIS).
  Po `dotnet publish` se tento soubor "transformuje" (nepřepíše) do publish
  výstupu – SDK doplní jen processPath/arguments, ostatní nastavení zůstane.

  Forpsi sdílený hosting vyžaduje hostingModel="outofprocess"
  (viz https://support.forpsi.com/kb/a4370/).
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\TravelGallery.dll"
                  hostingModel="outofprocess"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <!-- 50 MB, musí odpovídat FormOptions.MultipartBodyLengthLimit v Program.cs -->
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
